#contact_section {
    background-color: #1565c0;
    color: #fff;
    padding: 3% 0%;

}

#contact_section label{
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

#contact_section .form-control {
    background-color: rgba(255,255,255,.15);
    border-radius: 3px;
    outline: none;
    border: 0;
    resize: none;
    color: #fff;
}

#contact_section .form-control:focus {
    box-shadow: none;
}

/* #contact_section .get_in_touch h2:before {
    content: 'CONTACT US';
    font-size: 15px;
    color: #fff;
    padding-bottom: 12px;
    display: block;

} */

#contact_section .get_touch_btn {
    width: 100%;
    background-color: rgba(255,255,255,.15);
    outline: none;

}

#contact_section .get_touch_btn:hover {
    color: #fff;
}

#contact_section .get_touch_btn:active,
#contact_section .get_touch_btn:focus {
    color: #fff;
}

#show {
    display: none;

}

#contact_section .get_in_touch h2{
  margin-top: 60px;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}

.show_border {
    border: 2px solid #fff;
    border-radius: 10px;
}
